	

<!-- Check Search Results -->
%{ if (repositories != null && repositories.size() > 0) { }%
	<!-- Display Each Search Result -->
	<div class="page-main">
		
		<!-- Title -->
		<p>
		<h2>GitHub Repository Search "${q}".</h2>
		<h2>Search Page No. ${startPage}.</h2>
		</p>
		<br>
		
		<!-- Pagination -->
		<div class="pagination">		
			<!-- Previous Page -->
			%{ if (hasPreviousPage == true) { }%
				<a href="#/search?q=${q}&startPage=${previousPage}"><< Previous Page</a>
			%{ } %}
			
			<!-- Separator -->
			%{ if (hasPreviousPage == true && hasNextPage == true) { }%
				| 
			%{ } %}
			
			<!-- Next Page -->
			%{ if (hasNextPage == true) { }%
				<a id="nextPage" href="#/search?q=${q}&startPage=${nextPage}">Next Page >></a>
			%{ } %}
		</div>
	
		<!-- Repositories -->
		%{ for (r in repositories) { }%
			<div class="searchItem" id="holder">
				<section class="content-main search-box results">
					<header>
						<section><a href="#/repository/${r.owner}/${r.name}">${r.owner}/${r.name}</a> (${r.language})</section>
					</header>
					 <section>
                            <p><span>Description</span>: ${r.description}</p>
                            <p><span>Created On</span>: ${r.createdAt}</p>
                            <p><span>Last Push</span>: ${r.pushedAt}</p>
                            <p><span>Fork?</span>: ${r.fork}</p>
                            <p><span>Followers</span>: ${r.followers}</p>
                        </section>
					<footer></footer>	
				</section>
			</div>
		%{ } }%
	</div>
	
	<nav id="navigation"> 
	  <a href="@{Application.search(q, nextPage)}">oi</a> 
	</nav>
	
	<div id="infscr-loading">
	</div>
	
	<!-- JQuery Masonry and Infinite Scrolling -->
	<script> 
	    
	    var $container = $('.page-main');
	    
	    $container.masonry({
	    	isAnimated: true,
	        itemSelector:'.searchItem',
	        columnWidth: 80
	      });
	    
	    $container.infinitescroll({
	    	 
	    	  navSelector  : "#navigation",            
              // selector for the paged navigation (it will be hidden)

			  nextSelector : "#navigation a",    
              // selector for the NEXT link (to page 2)
	    	 
	    	  itemSelector : ".page-main .searchItem",          
	    	                 // selector for all items you'll retrieve
	    	 
	    	  debug        : true,                        
	    	                 // enable debug messaging ( to console.log )
	    	 
	    	  loadingImg   : "@{'/public/images/loading.gif'}",          
	    	                 // loading image.
	    	                 // default: "http://www.infinite-scroll.com/loading.gif"
	    	 
	    	  loadingText  : "Loading...",      
	    	                 // text accompanying loading image
	    	                 // default: "<em>Loading the next set of posts...</em>"
	    	 
	    	  animate      : true,      
	    	                 // boolean, if the page will do an animated scroll when new content loads
	    	                 // default: false
	    	 
	    	  extraScrollPx: 50,      
	    	                 // number of additonal pixels that the page will scroll 
	    	                 // (in addition to the height of the loading div)
	    	                 // animate must be true for this to matter
	    	                 // default: 150
	    	 
	    	  donetext     : "This is it my friend!" ,
	    	                 // text displayed when all items have been retrieved
	    	                 // default: "<em>Congratulations, you've reached the end of the internet.</em>"
	    	 
	    	  bufferPx     : 40,
	    	                 // increase this number if you want infscroll to fire quicker
	    	                 // (a high number means a user will not see the loading message)
	    	                 // new in 1.2
	    	                 // default: 40
	    	 
	    	  errorCallback: function(){ $('#infscr-loading').animate({opacity: .8},2000).fadeOut('normal'); },
	    	                 // called when a requested page 404's or when there is no more content
	    	                 // new in 1.2                   
	    	 
	    	  localMode    : true
	    	                 // enable an overflow:auto box to have the same functionality
	    	                 // demo: http://paulirish.com/demo/infscr
	    	                 // instead of watching the entire window scrolling the element this plugin
	    	                 //   was called on will be watched
	    	                 // new in 1.2
	    	                 // default: false
	    	 
	    },function(arrayOfNewElems){
	    	var $newElems = $( arrayOfNewElems );
	    	$container.masonry( 'appended', $newElems, true ); 
	    	
		 
	    // optional callback when new content is successfully loaded in.
	
	    // keyword `this` will refer to the new DOM content that was just added.
	    // as of 1.5, `this` matches the element you called the plugin on (e.g. #content)
	    //                   all the new elements that were found are passed in as an array
	
	});
	</script> 
	
%{ } else { }%
	<!-- No Results Available -->
	<h3>No results found with search term "${q}".</h3>
	<br><br>
	<a href="#/">Start Another Search.</a>
	
%{ } }%